<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="article-title">
          <%= f.label :title %><br>
        </label>
        <div class="col-xs-8">
          <%= f.text_field :title , class: "form-control", id: "article-title", placeholder: "Title of Article", autofocus: true  %>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="article-description">
          <%= f.label :description %><br>
        </label>
        <div class="col-xs-8">
          <%= f.text_area :description , class: "form-control", rows: 10, id: "article-description", placeholder: "Type your article", autofocus: true  %>
        </div>
      </div>
      
      <div class ="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>
      
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-5">
    [ <%= link_to "Cancel and return to articles listing", articles_path %> ]
  </div>
</div>
    